<!-- Modal More Info-->
<div class="modal fade" id="exampleModal-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ item.name }}</h5>
                <!-- <button type="button" class="btn-close" datax-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                {{ item.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Buy -->
<div class="modal fade" id="purchaseModal-{{ item.id }}" tabindex="-1" aria-labelledby="purchaseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="purchaseModalLabel">Purchase Confirmation</h5>
                <!-- <button type="button" class="btn-close" datax-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">

                <form action="" method="POST">
                    {{ purchase_form.hidden_tag() }}
                    <h4 class="text-center mb-3">Are you sure you want to buy {{ item.name }} for {{ item.price }}$ ?
                    </h4>
                    <h6 class="text-center">
                        By clicking "Purchase", you will purchase this item.
                    </h6>
                    {{ purchase_form.submit(class="btn btn-outline-success btn-block")}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>