{% extends 'layout.html' %}

{% block title %}
Market
{% endblock %}

{% block content %}

<div class="row m-1">
    <div class="col-8">
        <h2>Store Items</h2>
        <p>Click on an Item to put it in your Basket</p>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Barcode
                    </th>
                    <th scope="col">
                        Price
                    </th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% include 'includes/item_modals.html' %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.barcode}}</td>
                    <td>{{item.price}} $</td>
                    <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#exampleModal-{{ item.id }}">More
                            info</button>
                        <button class="btn btn-outline btn-success">Purchase this item</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Basket Items</h2>
        <p>Click on an Item to put it back</p>
    </div>

</div>

{% endblock %}