{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<!-- To test any kind of page that does a POST request you must have a CSRF Key.
    To do so you must open the terminal, go into Python, import os, os.urandom(12).hex()
    then app.config['SECRET_KEY'] = randomHEXString (within your __init__.py)-->
<h1 class="jumbotron">Register Form</h1>
<section class="container">
    <form class="form-register" action="POST" onsubmit="return false">
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }}
        <button type="submit">click me</button>
    </form>
</section>

{% endblock %}