{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<!-- To test any kind of page that does a POST request you must have a CSRF Key.
    To do so you must open the terminal, go into Python, import os, os.urandom(12).hex()
    then app.config['SECRET_KEY'] = randomHEXString (within your __init__.py)-->
<h1 class="jumbotron bg-transparent">Register Form</h1>
<section class="container">
    <form method="POST" class="form-register">
        {{ form.hidden_tag() }}
        <!-- This protects us from CSRF attacks -->
        {{ form.username.label() }}
        {{ form.username(class="form-control mb-3", placeholder="Username") }}

        {{ form.email_address.label() }}
        {{ form.email_address(class="form-control mb-3", placeholder="Email Address") }}

        {{ form.password1.label() }}
        {{ form.password1(class="form-control mb-3", placeholder="Password") }}

        {{ form.password2.label() }}
        {{ form.password2(class="form-control mb-3", placeholder="Verify Password") }}

        <div class="checkbox mb-3">
            <h6>Already have an account ?</h6>
            <a href="{{ url_for('login_page') }}" class="btn btn-sm btn-secondary">Login</a>
        </div>

        {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
    </form>
</section>

{% endblock %}